<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
  <%= render partial: "/common/show_redirect", locals: { retro: @retro, page: 'grouping' } %>
</div>

<div class="p-2 text-center">

  <%= render partial: '/common/advance_retro', locals: { next_state: 'pointing' } %>

</div>
