<h4><%= @retro.description %></h4>

<p>Retro summary</p>

<% @all_cards.select{ |card| card.votes > 0 }.sort_by(&:votes).reverse.each do |card| %>
  <%= render partial: "/cards/card_summary", locals: { card: card } %>
<% end %>
<div class="card mb-2" style="max-width: 1000px; margin: auto;">
  <div class="card-header-sm text-start p-1">
    Remaining items
  </div>
  <div class="card-body">
    <dl class="row">
      <% @all_cards.select{ |card| card.votes == 0 }.sort_by(&:column_desc).each do |card| %>
        <dt class="col-sm-3 text-start"><%= card.column_desc %></dt>
        <dd class="col-sm-9 text-start"><%= card.title %></dd>
      <% end %>
    </dl>
  </div>
</div>
