<%= turbo_stream_from "retro_#{@retro.id}" %>

<div id="retro_<%= @retro.id %>">
</div>

<div class="p-2 text-center">
  <h4>Vote for what you'd like to discuss!</h4>
  <p>Or don't, I'm not a cop</p>

  <%= render partial: '/common/advance_retro', locals: { next_state: 'discussion' } %>
  
</div>
