<li class="list-group-item">
  <%= participant.email %>
  <% if !participant.user_id.nil? %>
    (Name: <%= participant.user.name %>)
    <span class="opacity-75"><sm> - verified</sm></span>
  <% end %>
  <%= link_to "remove",
    "/retros/#{participant.retro.id}/participants/#{participant.id}",
    data: { turbo_confirm: "This will remove the participant, are you sure?", turbo_method: :delete },
    class: "badge text-bg-warning rounded-pill link-underline-warning" %>
</li>
