<div class="px-4 py-5 my-5 w-100">
  <div class="m-auto" style="max-width: 768px;">
    <h4 class="text-body-emphasis">About Litretro</h4>
    <% if @custom %>
      <%= @custom %>
    <% end %>
    <p>
      Litretro is open source software designed to make it easy to
      do retrospectives with your agile team. It requires a minimal
      amount of setup and hopefully recreates the feel of retro
      process with your team online without too many gimmicks.
    </p>
    <p>
      You can learn more about agile retrospectives from various
      <a href="https://www.scrum.org/resources/what-is-a-sprint-retrospective">sources</a>
      <a href="https://www.forbes.com/advisor/business/software/agile-retrospective/">online</a>.
      Despite the bravado of the welcome page, this is not the only software to
      help you run online retros, but I do think it's the best.
    </p>
    <p>
      To see the behind-the-scenes of the software visit the
      <a href="https://github.com/michaellitherland/litretro">GitHub page</a>.
      You can even learn how to install this software on your own server and
      run it there.
    </p>
    <p>
      This software is provided without warranty of any kind, but I still
      hope it's useful.
    </p>
    <hr />
    <div class="text-center">
      <p>
        This work is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
        </a>.
      </p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
      </a>
    </div>
  </div>
</div>
