<div class="px-4 py-5">
  <% if @retros.length == 0 %>
    <h4>No active retros right now</h4>
    <p class="opacity-75">
    You can fix this by viewing <a href="/retros">your retros</a>
    <% if !current_user.guest %>
      or creating a <a href="/retros/new">new one</a>.
    <% end %>
    </p>
  <% else %>
    <h4>You have a few active retros</h4>
    <p>Your retro cup runneth over</p>
    <div class="row g-5">
      <div class="col-12">
        <div class="list-group">
          <% @retros.each do |retro| %>
            <%= render partial: "/retros/summary", locals: { retro: retro, owner: retro.user_id == current_user.id } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
