<p>TODO: The guest link is under development.</p>
<p>
  To have participants register by email, please add them in the participants tab.
</p>

<% if @retro.guest_link.nil? %>
  <%= link_to "Create guest link", "/retros/#{@retro.id}/add_guest_link", class: "btn btn-secondary" %>
  <p>
    Adding a guest link will allow a participant to join the retro with just a link, but it will be a
    temporary account. Anybody with the link will be able to participate in the retro and see the results.
    The link will not work once the retro is complete.
  </p>
<% else %>
  <%= link_to "Delete guest link", "/retros/#{@retro.id}/remove_guest_link", class: "btn btn-secondary" %>
  <p class="card" id="guest_link">
    <%= link_to "/guest/#{@retro.guest_link}", "/guest/#{@retro.guest_link}" %>
  </p>
  <p>
    Deleting the guest link will stop guest users from joining the retro, but won't block ones already
    in. A retro that is complete won't allow for guests to join.
  </p>
<% end %>
