<div class="px-4 py-5">

  <div class="row g-5">
    <% if user_signed_in? && !current_user.guest %>
      <div class="col-12 col-lg-6">
        <h3>Retros you lead</h3>
        <%= link_to "Create a new Retro?", new_retro_path %>
        <div class="list-group">
          <%= render partial: "summary_group", locals: { retros: @retros, owner: true, offset: @retros_offset } %>
        </div>
      </div>
    <% end %>
    <div class="col-12 col-lg-6">
      <h3>Retros you participate in</h3>
      <% if @guest_retros.empty? %>
        <p>Embarrassingly, there's nothing here...</p>
      <% else %>
        <div class="list-group">
          <%= render partial: "summary_group", locals: { retros: @guest_retros, owner: false, offset: @guest_offset } %>
        </div>
      <% end %>
    </div>
  </div>

</div>
