<div class="m-auto pt-5" style="max-width: 330px">
  <h2>Retro Information</h2>

  <h4><%= @retro.description %></h4>
  <p><%= @retro.retro_date %></p>
  <%= link_to "Edit retro", edit_retro_path(@retro) %>


</div>
