<div class="card card-<%= card.color %> mb-2" style="max-width: 350px; margin: auto;">
  <div class="card-header-sm text-start p-1">
    Votes: <%= card.votes %>
  </div>
  <div class="card-body">
    <h5 class="card-title text-start"><%= card.title %></h5>
  </div>
</div>
