.card-blue { background-color: #6ea8fe; }
.card-indigo { background-color: #a370f7; }
.card-purple { background-color: #a98eda; }
.card-pink { background-color: #e685b5; }
.card-red { background-color: #ea868f; }
.card-orange { background-color: #feb272; }
.card-yellow { background-color: #ffda6a; }
.card-green { background-color: #75b798; }
.card-teal { background-color: #79dfc1; }
.card-textarea { font-size: 1.5em; }
