<div class="card card-<%= child.color %> mt-1">
  <div class="card-body text-start">
    <%= child.title %>
    <div style="position: absolute; top: 0px; right: 5px;">
      <%= child.column_desc %>
    </div>
  </div>
</div>
