<li class="list-group-item card-<%= child.color %> card-tiny">
  <h5 class="card-title m-3"><%= child.title %></h5>
  <div style="position: absolute; top: 1px; right: 5px;">
    <%= child.column_desc %>
  </div>
</li>
