<% if state != "setup" %>
  <div class="action text-center">
    <%= button_to "Move to current stage", redir_location, method: :get, class: "btn btn-success btn-lg px-4 gap-3 m-3" %>
  </div>
<% end %>
